h1 {
  padding-top: 20px;
  width: max-content;
}

.current-temperature {
  font-size: 50px;
}
.temperature-units {
  font-size: 12px;
  vertical-align: text-top;
}
a {
  border: none;
  background: transparent;
  text-decoration: none;
  color: white;
}
